body {
    display: flex;
    flex-direction: column;
    background-color:white;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;
}

section {
    height: 50vh;
}

#top-half {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    /* padding-bottom: 5%; */
    /* width: 100%; */
}

.top-half-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

img {
    width: 60%;
    margin-bottom: 1vh;
}

h3 {
    font-family: Arial;
    text-align: center;
    font-size: 100%;
    color: #16b1c4;
}

#bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: #d5f1f4;
    margin: 0px 0px 0px 0px;
    /* height: 50%; */
}

h1 {
    font-family: Arial;
    text-align: center;
    font-size: 250%;
    color: #19b0c4;
    margin-bottom: 0px;
    margin-top: 40px;
}

h5 {
    font-family: Arial;
    text-align: center;
    font-size: 90%;
    color: #8e969f;
    margin-bottom: 0;
}

#bottom-half-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom-half-card-blue {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7ebec4;
    font-family: Arial;
    text-align: center;
    width: 20%;
    border-radius: 8%;
}

.bottom-half-card-red {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ec1d23;
    font-family: Arial;
    text-align: center;
    width: 20%;
    border-radius: 8%;
}

p {
    font-family: Arial;
    font-size: 150%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

@media screen and (max-width: 767px) {
    #top-half {
        flex-direction: column;
        align-items: center;
    }

    #top-half>* {
        width: 60vw;
        padding-bottom: 0%;
    }

    .top-half-card {
        margin-top: 0%;
        margin-bottom: 4%;
    }

    img {
        width: 50%;
    }

    h3 {
        font-size: 235%;
    }

    h1 {
        font-size: 400%;
    }

    h5 {
        font-size: 180%;
    }

    h5>* {
        width: 100%;
    }

    #bottom-half>* {
        width: 100%;
    }

    #bottom-half-cards {
        flex-direction: column;
    }
    
    #bottom-half-cards>* {
        width: 70%;
    }

    p {
        font-size: 240%;
    }
}