body {
    display: flex;
    flex-direction: column;
    background-color:white;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

section {
    margin: 0px 0px 0px 0px;
    padding: -100px -100px -100px -100px;
    height: 50%;
}

#top-half {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

.top-half-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    width: 300px;
    margin-bottom: 20px;

}

img {
    width: 150px;
    margin-bottom: 20px;
}

h3 {
    font-family: Arial;
    text-align: center;
    font-size: 16px;
    color: #16b1c4;
}

#bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d5f1f4;
    margin: 0px 0px 0px 0px;
}

h1 {
    font-family: Arial;
    text-align: center;
    font-size: 36px;
    color: #19b0c4;
    margin-bottom: 0px;
    margin-top: 40px;
}

h5 {
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    color: #8e969f;
    margin-bottom: 25px;
}

#bottom-half-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.bottom-half-card-blue {
    align-items: center;
    background-color: #7ebec4;
    font-family: Arial;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 23%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 8%;
}

.bottom-half-card-red {
    align-items: center;
    background-color: #ec1d23;
    font-family: Arial;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 23%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 8%;
}

p {
    font-family: Arial;
    font-size: 150%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (max-width: 767px) {
    #top-half {
        flex-direction: column;
    }

    #top-half>* {
        width: 100%;
    }

    #bottom-half>* {
        width: 100%;
    }

    #bottom-half-cards {
        flex-direction: column;
    }
    
    #bottom-half-cards>* {
        width: 70%;
    }
}