body {
    background-color: #f0efee;
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

h1 {
    font-weight: normal;
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 60px;
}

hr {
    width: 30px;
    border-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-color: black;
    color: black;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    /* width: 1200px; */
    padding-left: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 355px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
}

.card-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 0px;
    width: 100%;
    box-shadow: grey 0px 2px 6px -3px;
}

.header-icon {
    width: 25px;
    height: 25px;
    fill: #01822a;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 10px;
    scale: 100%;
}

.card-heading-text {
    color: #01822a;
    font-size: 20px;
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
}

.card-content1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    margin-bottom: 0px;
}

.cc1-text {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    font-weight: normal;
    font-size: 14px;
}

.cc1-percentage {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0px;
    font-size: 28px;
    text-align: top;
}

.card-content2 {
    display: flex;
    justify-content: center;
    height: 25px;
    margin-top: 8px;
    font-size: 14px;
}

.card-content3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0px;
    margin-bottom: 30px;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #008228;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button:hover {
    background-color: black;
    justify-content: space-between;
}

button:hover .button-icon {
    padding-left: 4px;
    padding-right: 6px;
}

.button-text {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.button-icon {
    fill: white;
    padding-right: 10px;
    scale: 100%;
}

.card-content4 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    color: #a2a7ac;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

